*, body, html {
   margin: 0;
   padding: 0;
   overflow-x: hidden;
   background-color: rgb(23, 23, 23);
   color: aliceblue;
}
body {
   background-image: url(./space-invaders/facile/images/stars.png);
   overflow: hidden;
}
.nav {
   display: flex;
   width: 100%;
}
.nav a {
   display: flex;
   align-items: center;
   margin-left: auto;
}
.nav a img {
   width: 5rem;
}
.nav img {
   width: 100px;
}
.nav img:last-child {
   margin-left: auto;
}
h1 {
   text-align: center;
   margin-bottom: 4rem;
   font-size: 3.2rem;
   color: white;
   padding-top: 3rem;
   text-shadow: 
   .1vh 0vw .25vh #ff7474,
   .125vh 0vw .25vh #ff7474,
   
   .1vh 0vw .1vh #ff3131,
   .125vh 0vw .1vh #ff3131,
   .15vh 0vw .1vh #ff3131,
   
   .1vh 0vw 2vh #ff3131,
   .125vh 0vw 2vh #ff3131,
   .15vh 0vw 2vh #ff3131,
   
   .1vh 0vw 1vh #fb0404,
   .125vh 0vw 1vh #fb0404,
   .15vh 0vw 5vh #fb0404,
   
   .1vh 0vw 5vh #fb0404,
   .125vh 0vw 2vh #fb0404,
   .15vh 0vw 6vh #fb0404;
   overflow: visible;
}
h1 .fa-solid {
   margin-bottom: -0.8rem;
}
h2 {
   background-image: url(./space-invaders/facile/images/stars.png);
   text-align: center;
   margin: 2rem;
   margin-top: 4rem;
   margin-bottom: 4rem;
   font-size: 2.6rem;
   text-shadow: 
   .1vh 0vw .25vh #689afe,
   .125vh 0vw .25vh #689afe,
   
   .1vh 0vw .1vh #5031ff,
   .125vh 0vw .1vh #5031ff,
   .15vh 0vw .1vh #5031ff,
   
   .1vh 0vw 2vh #5031ff,
   .125vh 0vw 2vh #5031ff,
   .15vh 0vw 2vh #5031ff,
   
   .1vh 0vw 1vh #0429fb,
   .125vh 0vw 1vh #0429fb,
   .15vh 0vw 5vh #0429fb,
   
   .1vh 0vw 5vh #0429fb,
   .125vh 0vw 2vh #0429fb,
   .15vh 0vw 6vh #0429fb;
   overflow: visible;
}
.title > h1{
   display: flex;
   width: 100%;
   justify-content: center;
}
.anim {
   width: 100%;
   display: flex;
   align-items: flex-end;
}
.anim img {
  height: 10rem;
  margin-left: 10%;
  z-index: 100;
}
.anim img:last-child {
  height: 3rem;
  margin-bottom: 2rem;
}
.nav a img:hover, .rotate-anim:hover, .break:hover, .pong-pic:hover  {
   animation: rotate-center .8s ease-in-out both;
}
.game {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   flex-wrap: wrap;
}
.card > a {
   overflow: visible;
   width: fit-content;
   margin: 0 auto;
}
.pong-anim {
   box-shadow: 2px 2px solid aliceblue;
}
.game p {
   font-size: 3rem;
   margin: 2rem;
   text-shadow: 
   .1vh 0vw .25vh #d266ce,
   .125vh 0vw .25vh #d266ce,
   
   .1vh 0vw .1vh #da3fd5,
   .125vh 0vw .1vh #da3fd5,
   .15vh 0vw .1vh #da3fd5,
   
   .1vh 0vw 2vh #da3fd5,
   .125vh 0vw 2vh #da3fd5,
   .15vh 0vw 2vh #da3fd5,
   
   .1vh 0vw 1vh #fb04f3,
   .125vh 0vw 1vh #fb04f3,
   .15vh 0vw 5vh #fb04f3,
   
   .1vh 0vw 5vh #fb04f3,
   .125vh 0vw 2vh #fb04f3,
   .15vh 0vw 6vh #fb04f3;
   overflow: visible;
}
.card a {
   display: flex;
   justify-content: center;
   margin-top: 2rem;
   margin-bottom: 2rem;
}
.card p {
   text-align: center;
}
.invad-img:hover {
   transition: 1s;
   transform: perspective(300px) rotateX(30deg);
}
.arcades {
   display: flex;
   position: relative;
   justify-content: center;
}
.arcades > i {
   position: absolute;
   margin-top: 15.45rem;
   margin-left: -3.55rem;
   background-color: #fbe204c4;
   border-radius: 50%;
   height: 12px;
   width: 12px;
}
.arcades > i:last-child {
   position: absolute;
   margin-top: 15.45rem;
   margin-left: 9.88rem;
   background-color: #fbe204c4;
   border-radius: 50%;
   height: 12px;
   width: 12px;
}
.break, .pong-pic, .invad-img, .dice {
   width: 10.6rem;
   height: 9rem;
   position: absolute;
   margin-left: -31.4rem;
   margin-top: 4rem;
   z-index: 2;
}
.sep {
   border-top: 6px solid #fb0404;
   width: 70%;
   border-radius: 1rem;
   margin: 0 auto;
}
.sep:hover {
   transition: all 1.5s;
   width: 100%;
}
/*-----------------footer------------------*/
footer {
   width: 100%;
}
.footer-imgs {
   width: 100%;
   display: flex;
}
.footer-imgs img {
   width: 100px;
}
.footer-imgs img:last-child {
   margin-left: auto;
}
/*-----------anim-------------*/
@keyframes rotate-center{
  0% {
    transform:rotate(0)
  }
  100% {
    transform:rotate(360deg)
  }
}
@keyframes rotate-vert-center {
   0% {
      transform:rotateY(0)
   } 100% {
      transform:rotateY(360deg)
   }
}
/*---------------mobile-------------------*/
@media screen and (max-width: 600px) {
   .nav a {
      display: flex;
      justify-content: center;
   }
   .arcade {
      width: 23rem;
   }
   .break, .pong-pic, .invad-img {
      width: 8rem;
      height: 6rem;
      position: absolute;
      margin-left: -22.4rem;
      margin-top: 2.8rem;
      z-index: 2;
   }
   .arcades > i {
      margin-top: 11.1rem;
      margin-left: -2.5rem;
      height: 10px;
      width: 10px;
   }
   .arcades > i:last-child {
      margin-top: 11.1rem;
      margin-left: 7.15rem;
      height: 10px;
      width: 10px;
   }
}