body {
  overflow-x: hidden;
}
button {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: gray;
  border: 0px;
  left: 20%;
  top: 25%;
}
button:hover {
  background-color: #b0b0b0 !important;
  cursor: pointer;
}
button:active {
  background-color: #b0b0b0 !important;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
}
#scoreCanvas, #nextShapeCanvas, .btn {
  position: absolute;
}
#scoreCanvas {
  height: 12rem;
  width: 20rem;
  top: 5%;
  left: 80%;
}
#nextShapeCanvas {
  width: 140px;
  height: 140px;
  top: 5%;
  left: 20%;
}
@media screen and (max-width: 800px) {
  #scoreCanvas {
    left: 60%;
    top: 1rem;
  }
  #nextShapeCanvas {
    left: 10%;
    top: 1rem;
  }
  button {
    left: 15%;
    top: 20%;
  }
}